{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Стас Руденко: тренер</title>
    <meta name="description" content="персональный сайт Стаса Руденко тренера по фитнесу, Stas Rudenko fitness traner personal website">
    <meta name="keywords" content="trainer, fitness, bodybuilding, exercises, crossfitness, almaty, kazakhstan, qazaqstan, gimnasium, gim, stas_trener, stas, тренер, стас, руденко, станислав, алматы, казахстан, тренажёр, тренажёрный зал, спортивный врач, диетолог, травматолог, алматы, казахстан, врач, фитнес, лфк, зож, клуб, лечение, зарядка, похудение, здоровье, гимнастика, физкультура, упражения, бодибилдинг, совет, зал, джим, тренировка, кроссфитнес">

    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Rubik:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles-merged.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/custom.css'%}">

    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  <!-- START: header -->

  <header role="banner" class="probootstrap-header">
    <div class="container-fluid">
        <a href="../" class="probootstrap-logo">stastrener<span></span></a>

        <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Меню</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
          <ul class="probootstrap-main-nav">
            <li><a href="../">Главная</a></li>
            <li><a href="../programs/">Упражнения</a></li>
            <li><a href="../gallery/">Галерея</a></li>
            <li class="active"><a href="../about/">О себе</a></li>
            <li><a href="../contact/">Контакты</a></li>
            <li><a href="../learning_logs/topics/">Вопросы</a></li>
            <li><a href="../products/">Книги</a></li>
          </ul>
          <ul class="probootstrap-header-social hidden-xs">
<!--           <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook2"></i></a></li>
-->
            <li><a href="https://instagram.com/stas_trener"><i class="icon-instagram2"></i></a></li>
          </ul>
          <div class="extra-text visible-xs">
            <a href="#" class="probootstrap-burger-menu"><i>Меню</i></a>
            <h5>Мой инстаграм</h5>
            <ul class="social-buttons">

              <li><a href="#"><i class="icon-instagram2"></i></a></li>
            </ul>
          </div>
        </nav>
    </div>
  </header>
  <!-- END: header -->

  <!-- START: section -->
  <section class="probootstrap-intro" style="background-image: url({% static 'img/stas_bw_02.jpg'%});" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-7 probootstrap-intro-text">
          <h1 class="probootstrap-animate" data-animate-effect="fadeIn"><span>немного</span>о себе</h1>
          <div class="probootstrap-subtitle probootstrap-animate" data-animate-effect="fadeIn">
            <h2 style="color: silver; font-weight: bold">мысли вслух</h2>
          </div>
        </div>
      </div>
    </div>
    <span class="probootstrap-animate"><a class="probootstrap-scroll-down js-next" href="#next-section">ПРОДОЛЖЕНИЕ <i class="icon-chevron-down"></i></a></span>
  </section>
  <!-- END: section -->
  <main>
    <section id="next-section" class="probootstrap-section">
      <div class="container">
        <div class="row probootstrap-gutter60 mb50">

          <div class="col-md-12">
            <h2 class="probootstrap-heading">Я - тренер</h2>
            <p>&ldquo;Стать тренером непросто. Прежде всего нужно любить общаться с людьми. А ещё нужно постоянно учиться и ощущать потребность отдавать свои знания людям.</p>
            <p>Несомненно нужны специальные знания, и, прежде всего, в области структуры и функции опорно-двигательного аппарата и обмена веществ в организме.</p>
            <p>Говоря схематично, тело человека - фантастически сложный "самодвижущийся химический котёл" в котором одновременно совершаются миллиарды согласованных химических реакций.</p>
            <p>Часть этих реакций направлена на постоянный "ремонт котла", другая часть - на то, чтобы из поступающих с пищей химических веществ отобрать "стройматериалы для ремонта", а остаток сжечь, чтобы "котел не остывал".
            <p>Обмен веществ здорового человека зависит от пищи, её объёма и качественного состава. Режим питания, труда и отдыха влияют на физические и психологические кондиции человека.&rdquo;</p>


          </div>
        </div>

        <div class="row probootstrap-gutter60">
          <div class="col-md-4 mb30">
            <h4 class="mb30">Физическая недостаточность</h4>
            <p>&ldquo;Физическое состояние в нашей повседневной жизни страдает более всего. Причина - остутствие физической нагрузки. Хороший тренер знает какой интенсивности должна быть физичекая нагрузка.</p>
            <p>В условиях интенсивных тренировок особенно остро встают вопросы водно-солевого баланса, оргнизации правильного питания, витаминного обеспечения, которыми обязательно владеет хороший тренер.</p>
            <p>Хороший тренер должен знать кому какая нагрузка необходима, и как она должна распределяться в течение занятия, какие упражнения и в каком объёме применять, исходя из уникальности каждого человека.&rdquo;</p>
          </div>
          <div class="col-md-4 mb30">
            <h4 class="mb30">Календарь событий</h4>
            <ul class="probootstrap-blog-list">
              <li>
                <a href="#">
                  <figure class="probootstrap-image"><img src="{% static 'img/img_4.jpg'%}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                  <div class="probootstrap-text">
                    <h4>День открытых дверей</h4>
                    <span class="meta">Ноябрь, 14 2019</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <figure class="probootstrap-image"><img src="{% static 'img/img_5.jpg'%}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                  <div class="probootstrap-text">
                    <h4>Треннинг по кроссфитнесу</h4>
                    <span class="meta">Январь, 10 2020</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <figure class="probootstrap-image"><img src="{% static 'img/img_6.jpg'%}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                  <div class="probootstrap-text">
                    <h4>Семинар для тренеров</h4>
                    <span class="meta">Март, 10 2020</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 mb30">
            <h4 class="mb30">Индивидуальный подход</h4>

            <p>&ldquo;Хороший тренер должен знать особенности восприятия нагрузок людьми разного возраста, пола, учитывать предыдущие и текущие заболевания своих учеников. Главный принцип здесь - не навредить. </p>
            <p>И последнее. Хороший тренер должен помнить свою главную цель - под его контролем физическое состояние человека должно постоянно улучшаться, а его самочувствие - постоянно повышаться&rdquo; </p>

          </div>
        </div>
      </div>
    </section>

  </main>
  <footer class="probootstrap-footer">
      <div class="probootstrap-backtotop"><a href=" /" class="js-backtotop"><i class="icon-chevron-thin-up"></i></a></div>
      <div class="container">
      <div class="row mb50">
        <div class="col-md-4">
          <div class="probootstrap-footer-widget">
            <h4>Для кого этот сайт:</h4>
            <p>Сайт предназначен для тех, кто решил позаботиться о своём теле. Добро пожаловать! Конечно будет непросто. Однако дорогу осилит идущий. Успехов вам на этом пути!</p>
            <!--p><a href="/">ВВЕРХ<i class="icon-chevron-thin-up"></i></a></p-->
          </div>
        </div>
        <div class="col-md-4 col-md-push-1">
          <div class="probootstrap-footer-widget">
             <h4>Контактная информация:</h4>
             <ul class="probootstrap-contact-info">
              <li><i class="icon-location2"></i> <span>62-3, Жайлы, Алматы, 050006</span></li>
              <li><i class="icon-mail"></i><span>stas_trener@mail.ru</span></li>
              <li><i class="icon-phone2"></i><span>+7(708)489-49-69</span></li>
          </div>
        </div>
        <div class="col-md-4 col-md-push-1">
          <div class="probootstrap-footer-widget">
            <h4>Перейти на страницу:</h4>
            <ul class="probootstrap-footer-link float">
              <li><a href="../">Главная</a></li>
              <li><a href="../programs/">Упражнения</a></li>
              <li><a href="../gallery/">Галерея</a></li>

            </ul>
            <ul class="probootstrap-footer-link float">
              <li><a href="../contact/">Контакты</a></li>
              <li><a href="learning_logs/topics/">Вопросы</a></li>
              <li><a href="../products">Книги</a></li>
            </ul>
          </div>
        <!--div class="row mb10"-->
        </div>

      </div>
       <div class="row">
         <div class="col-md-12 text-center border-top">
           <p class="mb0">&copy; Copyright 2017 <a href="https://uicookies.com/">uiCookies:Trainer</a>. All Rights Reserved. <br> Designed by <a href="https://uicookies.com">uicookies.com</a> Demo Images Unsplash.com &amp; Pexels.com</p>
         </div>
       </div>
     </div>
  </footer>

  <script src="{% static 'js/scripts.min.js'%}"></script>
  <script src="{% static 'js/main.min.js'%}"></script>
  <script src="{% static 'js/custom.js'%}"></script>

  </body>
</html>
