{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Стаc Руденко: тренер</title>
    <meta name="description" content="персональный сайт Стаса Руденко тренера по фитнесу, Stas Rudenko fitness traner personal website">
    <meta name="keywords" content="trainer, fitness, bodybuilding, exercises, crossfitness, almaty, kazakhstan, qazaqstan, gimnasium, gim, stas_trener, stas, тренер, стас, руденко, станислав, алматы, казахстан, тренажёр, тренажёрный зал, спортивный врач, диетолог, травматолог, алматы, казахстан, врач, фитнес, лфк, зож, клуб, лечение, зарядка, похудение, здоровье, гимнастика, физкультура, упражения, бодибилдинг, совет, зал, джим, тренировка, кроссфитнес">

    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Rubik:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles-merged.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/custom.css'%}">

    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  <!-- START: header -->

  <header role="banner" class="probootstrap-header">
    <div class="container-fluid">
        <a href="../" class="probootstrap-logo">stastrener<span></span></a>

        <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Меню</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
          <ul class="probootstrap-main-nav">
            <li><a href="../"style="color: white; font-weight: bold">Главная</a></li>
            <li class="active"><a href="programs"style="color: white; font-weight: bold">Упражнения</a></li>
            <li><a href="../gallery"style="color: white; font-weight: bold">Галерея</a></li>
            <li><a href="../about"style="color: white; font-weight: bold">О себе</a></li>
            <li><a href="../contact"style="color: white; font-weight: bold">Контакты</a></li>
            <li><a href="../learning_logs/topics"style="color: white; font-weight: bold">Вопросы</a></li>
            <li><a href="../products"style="color: white; font-weight: bold">Книги</a></li>
          </ul>
          <ul class="probootstrap-header-social hidden-xs">

            <li><a href="https://instagram.com/stas_trener"><i class="icon-instagram2"></i></a></li>
          </ul>
          <div class="extra-text visible-xs">
            <a href="#" class="probootstrap-burger-menu"><i>Меню</i></a>
            <h5>Мой инстраграм</h5>
            <ul class="social-buttons">

            <li><a href="https://instagram.com/stas_trener"><i class="icon-instagram2"></i></a></li>
            </ul>
          </div>
        </nav>
    </div>
  </header>
  <!-- END: header -->

  <!-- START: section -->
  <section class="probootstrap-intro" style="background-image: url({% static 'img/belly_450.jpg'%});" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 probootstrap-intro-text">
          <h1 class="probootstrap-animate" data-animate-effect="fadeIn"><span>home</span>gym</h1>
          <div class="probootstrap-subtitle probootstrap-animate" data-animate-effect="fadeIn">
            <h2 style="color: yellow; font-weight: bold">упражнения</h2>
          </div>
        </div>
      </div>
    </div>
    <span class="probootstrap-animate"><a class="probootstrap-scroll-down js-next" href="#next-section">ПРОДОЛЖИТЬ <i class="icon-chevron-down"></i></a></span>
  </section>
  <!-- END: section -->
  <main>
    <section id="next-section" class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 probootstrap-relative">
            <h2 class="probootstrap-heading mt0 mb50">Утренняя гимнастика</h2>
            <ul class="probootstrap-owl-navigation absolute right">
              <li><a href="#" class="probootstrap-owl-prev"><i class="icon-chevron-left"></i></a></li>
              <li><a href="#" class="probootstrap-owl-next"><i class="icon-chevron-right"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 probootstrap-relative">
            <div class="owl-carousel owl-carousel-carousel">
              <div class="item">
                <div class="probootstrap-program">
                  <a href="#"><img src="img/img_1.jpg" alt="В кровати" class="img-responsive img-rounded"></a>
                  <h3>1. Диафрагмальное дыхание</h3>
                  <hr>
                  <p>Лягте на спину, можно в кровати. Положите руку на живот. </p>
                  <p>Глубоко вдохните, наполняя воздухом живот, затем грудь. Выдохните, чтобы живот максимально втянулся. Повторить три раза. Затем потянитесь всем телом.</p>
                </div>
              </div>
              <div class="item">
                <div class="probootstrap-program">
                  <a href="#"><img src="img/img_2.jpg" alt="В кровати" class="img-responsive img-rounded"></a>
                  <h3>2. Ягодичный мостик</h3>
                  <hr>
                  <p>Лёжа на спине, согните колени и поставьте стопы на кровать. Руки вдоль тела</p>
                  <p>Поднимите таз как можно выше, напрягите ягодицы. Повторить три раза.</p>
                </div>
              </div>
              <div class="item">
                <div class="probootstrap-program">
                  <a href="#"><img src="img/img_3.jpg" alt="В кровати" class="img-responsive img-rounded"></a>
                  <h3>3. Подъём ног</h3>
                  <hr>
                  <p>Лёжа на спине. Ноги остаются в положении прошлого упражнения - согнуты в коленях, стопы стоят на кровати. Руки вдоль тела</p>
                  <p>Поднимите одну ногу вверх насколько можете лёгкого(!) напряжения. Опустите ногу и поднимите другую. Повторить три раза для каждой ноги.</p>
                </div>
              </div>
              <div class="item">
                <div class="probootstrap-program">
                  <a href="#"><img src="img/img_4.jpg" alt="Мягкая растяжка стоя" class="img-responsive img-rounded"></a>
                  <h3>4. Вытягивание с поднятыми руками</h3>
                  <hr>
                  <p>Встаньте прямо, поставьте ноги вместе. </p>
                  <p>На вдохе напрягите ягодицы, потянитесь вверх, а затем прогнитесь назад в грудном отделе. Задержите позу на пару секунд, чтобы растянулись мышцы.</p>
                </div>
              </div>
              <div class="item">
                <div class="probootstrap-program">
                  <a href="#"><img src="img/img_5.jpg" alt="Мягкая растяжка с помощью наклонов" class="img-responsive img-rounded"></a>
                  <h3>5. Наклоны вперёд</h3>
                  <hr>
                  <p>Встаньте прямо, поставьте ноги вместе. </p>
                  <p>На выдохе наклонитесь вперёд, не сгибая колени. Сделайте три пружинящих наклона, каждый раз немного углубляя наклон. Не стремитесь достать до пола, главное - мягко растянуть мышцы.</p>
                </div>
              </div>
              <div class="item">
                <div class="probootstrap-program">
                  <a href="#"><img src="img/img_6.jpg" alt="Растяжка с помощью "разножки"" class="img-responsive img-rounded"></a>
                  <h3>6. Глубокие шаги вперёд</h3>
                  <hr>
                  <p>Сделайте глубокий шаг вперёд и наклоните туловище к согнутому колену передней ноги так, чтобы ладони обеих рук упёрлись в пол. Выпрямите колено задней ноги.</p>
                  <p>Сделайте три пружинистых движения тазом вниз, углубляя позу. Поменяте ноги местами и сделайте ещё три движения тазом. </p>
                </div>
              </div>
              <div class="item">
                <div class="probootstrap-program">
                  <a href="#"><img src="img/img_7.jpg" alt="Растяжка приседанием" class="img-responsive img-rounded"></a>
                  <h3>7. Глубокое приседание</h3>
                  <hr>
                  <p>Стоя, ноги шире плеч. держите спину прямо. </p>
                  <p>Сделайте грубокое приседание. Руки держите перед собой. Сидя на корточках, сделайте три пружинящих движения тазом вниз. Сделайте три приседания.</p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="probootstrap-section probootstrap-border-top">
      <div class="container">
        <div class="row">
          <div class="col-md-12 probootstrap-relative">
            <h2 class="probootstrap-heading mt0 mb50">Силовые упражнения</h2>
            <ul class="probootstrap-owl-navigation absolute right">
              <li><a href="#" class="probootstrap-owl-prev2"><i class="icon-chevron-left"></i></a></li>
              <li><a href="#" class="probootstrap-owl-next2"><i class="icon-chevron-right"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 probootstrap-relative">
            <div class="owl-carousel owl-carousel-carousel2">
              <div class="item">
                <div class="probootstrap-program">
                  <a href="#"><img src="img/img_1.jpg" alt="Дома или в офисе" class="img-responsive img-rounded"></a>
                  <h3>1. Приседания у стены</h3>
                  <hr>
                  <p>Встаньте прямо. Прислонитесь спиной к стене. Ноги на ширине плеч и на полшага впереди от стены.</p>
                  <p>Не отрывая туловище от стены, сделайте неглубокое приседание - колени под прямым углом. Удерживайте положение 15-20 секунд. Повторите 3-4 раза. Между повторениями - небольшой перерыв.   </p>
                </div>
              </div>
              <div class="item">
                <div class="probootstrap-program">
                  <a href="#"><img src="img/img_2.jpg" alt="Дома или в офисе" class="img-responsive img-rounded"></a>
                  <h3>2. Упор лёжа</h3>
                  <hr>
                  <p>Упритесь обеими руками в пол, стол или кровать так, чтобы вес тела был перенесен на руки.</p>
                  <p>Оторвите одну руку от упора и коснитесь ею противоположного плеча. После касания плеча рука возвращается на упор. Затем выполните это движение другой рукой. Упражнение повторяйте 5-8 раз для каждой руки. </p>
                </div>
              </div>
              <div class="item">
                <div class="probootstrap-program">
                  <a href="#"><img src="img/img_3.jpg" alt="Дома или в офисе" class="img-responsive img-rounded"></a>
                  <h3>3. Приседания</h3>
                  <hr>
                  <p>Встаньте прямо, ноги на ширине плеч. Колени и носки чуть разверните в стороны. Спина прямая.</p>
                  <p>Присядьте до образования прямого угла в коленях. Повторяйте 10 раз. </p>
                </div>
              </div>
              <div class="item">
                <div class="probootstrap-program">
                  <a href="#"><img src="img/img_4.jpg" alt="Дома или в офисе" class="img-responsive img-rounded"></a>
                  <h3>4. Отжимания</h3>
                  <hr>
                  <p>Упритесь прямыми руками в пол, стену или стол или другой упор.</p>
                  <p>Под весом тела согните руки в локтях и затем вновь выпрямите локти. Спину удерживайте на одной линии с ногами</p>
                </div>
              </div>
              <div class="item">
                <div class="probootstrap-program">
                  <a href="#"><img src="img/img_5.jpg" alt="Дома или в офисе" class="img-responsive img-rounded"></a>
                  <h3>5. Выпрыгивание из приседа</h3>
                  <hr>
                  <p>Стоя, ноги на ширине плеч. Колени и носки чуть развернуты в стороны. Спина прямая.</p>
                  <p>Сделайте неглубокий присед (до прямого угла в коленях). Быстро выпрямите ноги в коленях и сделайте небольшой прыжок вверх. Повторите упражнение 5 раз.  </p>
                </div>
              </div>
              <div class="item">
                <div class="probootstrap-program">
                  <a href="#"><img src="img/img_6.jpg" alt="Дома или в офисе" class="img-responsive img-rounded"></a>
                  <h3>6. Бёрпи</h3>
                  <hr>
                  <p>Примите положение: упор лежа. </p>
                  <p>Согните руки в локтях, чтобы коснуться пола грудью. Разогните руки в локтях и поднимитесь в упор лежа. Согните ноги в коленях, чтобы тело приняло положение: сидя на корточках. Выпрямите ноги и сделайте прыжок вверх. Повторите 10 раз.  </p>
                </div>
              </div>
              <div class="item">
                <div class="probootstrap-program">
                  <a href="#"><img src="img/img_7.jpg" alt="Дома или в офисе" class="img-responsive img-rounded"></a>
                  <h3>7. Скалолаз</h3>
                  <hr>
                  <p>Примите положение: упор лежа. </p>
                  <p>Подтяните одно колено к груди. Затем резко (прыжком) поменяйте ноги. При смене ног старайтесь удерживать таз в одном положении. </p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="probootstrap-section probootstrap-border-top">
      <div class="container">
        <div class="row">
          <div class="col-md-12 probootstrap-relative">
            <h2 class="probootstrap-heading mt0 mb50">Гантели для начинающих</h2>
            <ul class="probootstrap-owl-navigation absolute right">
              <li><a href="#" class="probootstrap-owl-prev3"><i class="icon-chevron-left"></i></a></li>
              <li><a href="#" class="probootstrap-owl-next3"><i class="icon-chevron-right"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 probootstrap-relative">
            <div class="owl-carousel owl-carousel-carousel3">
              <div class="item">
                <div class="probootstrap-program">
                  <a href="#"><img src="img/img_1.jpg" alt="Упражнение с гантелями" class="img-responsive img-rounded"></a>
                  <h3>1. Сгибание рук в локтях</h3>
                  <hr>
                  <p>Возьмите гантели. Встаньте, ноги чуть шире плеч. Руки вытянуты вдоль тела.</p>
                  <p>На выдохе медленно согните локти, поднимая гантели к плечам; на вдохе также медленно опустите гантели. Вес гантели 2-5 кг. Повторите 3-5 раз.</p>
                </div>
              </div>
              <div class="item">
                <div class="probootstrap-program">
                  <a href="#"><img src="img/img_2.jpg" alt="Упражнение с гантелями" class="img-responsive img-rounded"></a>
                  <h3>2. Поднятие гантелей от плеча</h3>
                  <hr>
                  <p>Возьмите гантели. Встаньте, ноги чуть шире плеч. Руки согнуты в локтях, гантели - на уровне плеч. </p>
                  <p>Попеременно поднимаете руки вверх на вдохе. Затем на выдохе - опускаете. Вес гантели 2-5 кг. Повторите 3-5 раз.</p>
                </div>
              </div>
              <div class="item">
                <div class="probootstrap-program">
                  <a href="#"><img src="img/img_3.jpg" alt="Упражнение с гантелями" class="img-responsive img-rounded"></a>
                  <h3>Разведение рук</h3>
                  <hr>
                  <p>Стоя, ноги чуть шире плеч. Руки вытянуты вдоль тела, в руках гантели.</p>
                  <p>На вдохе одновременно разведите руки с гантелями в стороны. На выдохе медленно опустите руки. Вес гантели 30% от максимального.</p>
                </div>
              </div>
              <div class="item">
                <div class="probootstrap-program">
                  <a href="#"><img src="img/img_4.jpg" alt="Упражнение с гантелями" class="img-responsive img-rounded"></a>
                  <h3>Тяга гантелей в наклоне</h3>
                  <hr>
                  <p>Стоя, ноги чуть шире плеч. Гантели в опущенных руках. Наклонитесть вперед. Немного согните колени. Удерживайте спину ровно. </p>
                  <p>Попеременно сгибайте руки в локтях так, чтобы гантели двигались к туловищу на уровне живота. Вес гантели 30% от максимального. Повторите 8 раз.</p>
                </div>
              </div>
              <div class="item">
                <div class="probootstrap-program">
                  <a href="#"><img src="img/img_5.jpg" alt="Упражнение с гантелями" class="img-responsive img-rounded"></a>
                  <h3>Приседания</h3>
                  <hr>
                  <p>Sets: 3, Reps: 8-10, Rest: 30 sec.</p>
                  <p>She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                </div>
              </div>
              <div class="item">
                <div class="probootstrap-program">
                  <a href="#"><img src="img/img_6.jpg" alt="Упражнение с гантелями" class="img-responsive img-rounded"></a>
                  <h3>DIP</h3>
                  <hr>
                  <p>Sets: 3, Reps: 8-10, Rest: 30 sec.</p>
                  <p>She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                </div>
              </div>
              <div class="item">
                <div class="probootstrap-program">
                  <a href="#"><img src="img/img_7.jpg" alt="Упражнение с гантелями" class="img-responsive img-rounded"></a>
                  <h3>Russian Twist</h3>
                  <hr>
                  <p>Sets: 3, Reps: 8-10, Rest: 30 sec.</p>
                  <p>She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="probootstrap-footer">
      <div class="probootstrap-backtotop"><a href=" /" class="js-backtotop"><i class="icon-chevron-thin-up"></i></a></div>
      <div class="container">
      <div class="row mb50">
        <div class="col-md-4">
          <div class="probootstrap-footer-widget">
            <h4>Для кого этот сайт:</h4>
            <p>Сайт предназначен для тех, кто решил позаботиться о своём теле. Добро пожаловать! Конечно будет непросто. Однако дорогу осилит идущий. Успехов вам на этом пути!</p>
            <!--p><a href="/">ВВЕРХ<i class="icon-chevron-thin-up"></i></a></p-->
          </div>
        </div>
        <div class="col-md-4 col-md-push-1">
          <div class="probootstrap-footer-widget">
             <h4>Контактная информация:</h4>
             <ul class="probootstrap-contact-info">
              <li><i class="icon-location2"></i> <span>62-3, Жайлы, Алматы, 050006</span></li>
              <li><i class="icon-mail"></i><span>stas_trener@mail.ru</span></li>
              <li><i class="icon-phone2"></i><span>+7(708)489-49-69</span></li>
          </div>
        </div>
        <div class="col-md-4 col-md-push-1">
          <div class="probootstrap-footer-widget">
            <h4>Перейти на страницу:</h4>
            <ul class="probootstrap-footer-link float">

              <li><a href="../">Главная</a></li>
              <li><a href="../gallery/">Галерея</a></li>
              <li><a href="../about/">О себе</a></li>
            </ul>
            <ul class="probootstrap-footer-link float">
              <li><a href="../contact/">Контакты</a></li>
              <li><a href="learning_logs/topics/">Вопросы</a></li>
              <li><a href="../products">Книги</a></li>
            </ul>
          </div>
        <!--div class="row mb10"-->
        </div>

      </div>
       <div class="row">
         <div class="col-md-12 text-center border-top">
           <p class="mb0">&copy; Copyright 2017 <a href="https://uicookies.com/">uiCookies:Trainer</a>. All Rights Reserved. <br> Designed by <a href="https://uicookies.com">uicookies.com</a> Demo Images Unsplash.com &amp; Pexels.com</p>
         </div>
       </div>
     </div>
  </footer>

  <script src="{% static 'js/scripts.min.js'%}"></script>
  <script src="{% static 'js/main.min.js'%}"></script>
  <script src="{% static 'js/custom.js'%}"></script>

  </body>
</html>

